<div class="site-wrapper">

<div class="site-wrapper-inner">

<div class="cover-container">
<div class="masthead clearfix">
<div class="inner">
 
  <nav>
    <ul class="nav masthead-nav">
      <li class=""><a href="/">Home</a></li>
      <li class="" data-toggle="pill"><a href="/">Test</a></li>
      <li class="" data-toggle="pill"><a href="/profile">Profile</a></li>
      <li class="" data-toggle="pill"><a href="/auth/login">Log in</a></li>
    </ul>
  </nav>
</div>



<h2>Results:</h2>
<% conditions.forEach(function(condition){ %>
	<a href=""><p><%= condition.name %></a></p>
<% }); %>

</div>
</div>
</div>
</div>









