    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
             
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="#">Tests</a></li>
                  <li><a href="/login">Log in</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">MedTerms</h1>
             <form action="/conditions" method="GET" role="form">

            <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="ex. Acid Reflux" name="q">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
            </form>

            <p class="lead">Free medical dictionary containing a list of medical disorders and conditions along with their symptoms and advisory on treatments.</p>
            <p class="lead">
              <a href="/signup" class="btn btn-lg btn-default">Sign Up</a>
              <p>- It's free and always will be -</p>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Free Medical Dictionary by <a href="https://twitter.com/rkd_cruz">Robin Cruz</a> of <a href="https://generalassemb.ly/">General Assembly</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
