<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix"> 
            <div class="inner">
              
                <nav>
                <ul class="nav masthead-nav">
                  <li class=""><a href="/">Home</a></li>
                  <li class="" data-toggle="pill"><a href="profile">Profile</a></li>
                </ul>
              </nav>
            </div>
          </div>
           
          
  
         <!--  Email sign up -->
           <div class="col-md-12"> 
                <h1>Log in</h1>
                <hr>
                <form class="form" method="POST" action="/auth/login">
                <input type="text" class="form" placeholder="Enter your email" name="email"> <br><br>
                <input type="password" class="form" placeholder="Enter your password" name="password"><br><br>
                <input type="submit" value="Login" class="btn btn-success">
                </form></div><br>or
                 <a href="/signup">Sign up</a>
                
              <p>- It's free and always will be -</p>
              </br>
              
              </div>
           
        
          <div class="mastfoot">
              <div class="inner">
              <p>Free Medical Dictionary by <a href="https://twitter.com/RobinKDCruz">Robin Cruz</a> of <a href="https://generalassemb.ly/">General Assembly</a>.</p>
            </div>
          </div>
      </div>
    </div>
   </div>