    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Medical Dictionary</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class=""><a href="/">Home</a></li>
                  <li class=""><a href="/">Prescription</a></li>
                  <li class=""><a href="/login">Log in</a></li>
                </ul>
              </nav>
            </div>
          </div>
          
          <div>
          <!-- Email sign up -->
            <p class="lead">
            <form action=action="cgi-bin/formmail.pl" method="POST">
              Name: <input type="text" name="name" value="" size="25" maxlength="50" />
              <br></br>
              Email: <input type="text" name="email" value="" size="25" maxlength="50" /> 
              <br></br>
              <a href="/" class="btn btn-lg btn-success">Sign Up</a>
            </form> or <a href="/login">Login</a>
              <p>- It's free and always will be -</p>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Free Medical Dictionary by <a href="https://twitter.com/rkd_cruz">Robin Cruz</a> of <a href="https://generalassemb.ly/">General Assembly</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>