    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
             
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="#">Tests</a></li>
                  <li><a href="/">Log in</a></li>
                   <form class="navbar-form navbar-right" action="/conditions" method="GET" role="form">
                      <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search" name="q">
                      </div>
                      <button type="submit" class="btn btn-success">Search</button>
                  </form>
                </ul>
              </nav>
            </div>
        
  <div class="inner">
  <div class="col-sm-12 col-md-12">
  <div class="thumbnail">

      

      <div class="caption">
        <h3>Condition Name</h3>
        <p>Risk Factors:
        <div style="thumbnail" id="_giphy_tvGOBZKNEX0ac"></div><script>var _giphy = _giphy || []; _giphy.push({id: "tvGOBZKNEX0ac",w: 717, h: 304});var g = document.createElement("script"); g.type = "text/javascript"; g.async = true;g.src = ("https:" == document.location.protocol ? "https://" : "http://") + "giphy.com/static/js/widgets/embed.js";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);</script>
         </p>
         <br>
        <p><a href="/" class="btn btn-success">Favorite</a></p>
      </div>
    </div>
  </div>
</div>
</div>           
     

          <div class="mastfoot">
            <div class="inner">
              <p>Free Medical Dictionary by <a href="https://twitter.com/rkd_cruz">Robin Cruz</a> of <a href="https://generalassemb.ly/">General Assembly</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>