    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
             
              <nav>
                <ul class="nav masthead-nav">
                  <li class=""><a href="/">Home</a></li>
                  
                  <li class=""><a href="/profile">Profile</a></li>
                  <li class=""><a href="/login">Log in</a></li>
                </ul>
              </nav>
             </div>
            </div>  

          <!-- Email sign up -->
          <div class="col-md-12">
              <h1>Sign Up</h1>
            <hr>
            <form class="form" method="POST" action="/auth/signup">
            <input type="text" class="form-inline" placeholder="Enter your email" name="email"><br><br>
            <input type="text" class="form-horizontal" placeholder="Enter your first name" name="firstName"><br><br>
             <input type="text" class="form-horizontal" placeholder="Enter your last name" name="lastName"><br><br>
            <input type="password" class="form-horizontal" placeholder="Choose a password" name="password"><br><br>
            <input type="password" class="form-horizontal" placeholder="Re-type password" name="password2"><br><br>
            <input type="submit" value="Sign up" class="btn btn-success">
            </form>
          </div><br> or
              <a href="/login">Login</a>
              <p>- It's free and always will be -</p>
            </br>  
          
          </div>

          <div class="mastfoot">
              <div class="inner">
              <p>Free Medical Dictionary by <a href="https://twitter.com/rkd_cruz">Robin Cruz</a> of <a href="https://generalassemb.ly/">General Assembly</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>