    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Medical Dictionary</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class=""><a href="/">Home</a></li>
                  <li class=""><a href="#">Prescription</a></li>
                  <li class="" data-toggle="pill"><a href="/">Profile</a></li>
                  <li class=""><a href="/login">Log in</a></li>
                </ul>
              </nav>
            </div>
          </div>
          
          <div>
          <!-- Email sign up -->
         <h1>Sign Up!</h1>
            <hr>
            <form class="form" method="POST" action="/auth/signup">
            <input type="text" class="form-control" placeholder="Enter your email" name="email"><br><br>
            <input type="text" class="form-control" placeholder="Enter your name" name="name"><br><br>
            <input type="password" class="form-control" placeholder="Choose a password" name="password"><br><br>
            <input type="password" class="form-control" placeholder="Re-type password" name="password2"><br><br>
            <input type="submit" value="sign up" class="btn btn-primary">
            </form>
          </div>

          <div class="mastfoot">
              <div class="inner">
              <p>Free Medical Dictionary by <a href="https://twitter.com/rkd_cruz">Robin Cruz</a> of <a href="https://generalassemb.ly/">General Assembly</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>